################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/InfBot/bin/Debug/net5.0
/InfBot/obj
/.vs/InfBot/v17/TestStore/0
